<div class="nav-extension"></div>

<div class="loading-panel-div">
    <div class="container" role="main">
            <img src='assets/images/ajax-loader.gif' class="loading-image">
            <h4 align="center">preparing cure...</h4>
    </div></div>>

