@(title: String)(content: Html)

@main("Dr. Elephant", "help") {
    @tags.column(3) {
        @tags.panel(){ Topics } {
            @for((appTypeName, heuristicList) <- com.linkedin.drelephant.ElephantContext.instance().getAllHeuristicNames()) {
                <div class="list-group-item-heading">@appTypeName</div>
                @for(heuristic <-heuristicList) {
                  <a href="@routes.Application.help()?topic=@helper.urlEncode(heuristic)">@heuristic</a><br>
                }
                <br/>
            }
            <a href="@routes.Application.help()?topic=@helper.urlEncode(com.linkedin.drelephant.analysis.HeuristicResult.NO_DATA.getAnalysis)">@com.linkedin.drelephant.analysis.HeuristicResult.NO_DATA.getAnalysis</a><br>
        }
    }
    @tags.column(9) {
        @tags.panel(){ @title } {
            @if(content == null){Please select a topic}
            @content
        }
    }
}
