<p>
    This analysis shows whether there is a data-skew for the data entering mapper tasks.
</p>
<p>
    This result of the analysis shows two groups of the spectrum, where the first group has significantly less input data compared to the second group.
</p>
<h5>Example</h5>
<p>
<div class="list-group">
    <a class="list-group-item list-group-item-danger" href="">
        <h4 class="list-group-item-heading">Mapper Data Skew</h4>
        <table class="list-group-item-text table table-condensed left-table">
            <thead><tr><th colspan="2">Severity: Critical</th></tr></thead>
            <tbody>
            <tr>
                <td>Number of tasks</td>
                <td>2205</td>
            </tr>
            <tr>
                <td>Group A</td>
                <td>953 tasks @@ 7 MB avg</td>
            </tr>
            <tr>
                <td>Group B</td>
                <td>1252 tasks @@ 512 MB avg</td>
            </tr>
            </tbody>
        </table>
    </a>
</div>
</p>
<h3>Suggestions</h3>
<p>
    Try to make your input files strictly smaller than the HDFS block size to avoid the small excess pieces creating new map tasks.
</p>