@(title: String, results: List[model.JobResult])

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@title</h3>
    </div>
    <div class="list-group">
        @for(result <- results) {
        <a class="list-group-item list-group-item-@result.severity.getBootstrapColor()" href="@routes.Application.search()?jobid=@result.job_id">
            <p class="list-group-item-heading"><h4 class="list-group-item-heading">[@result.username] @result.job_id</h4>@result.jobName</p>
            <p>
                @for(heuristicResult <- result.heuristicResults) {
                <span class="label label-@heuristicResult.severity.getBootstrapColor()">@heuristicResult.analysisName</span>
                }
            </p>
        </a>
        }
    </div>
</div>
