@(execurl: String, results: Map[String, List[model.JobResult]])

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">
      Flow Execution URL: <a href=@execurl>@execurl</a>
    </h3>
  </div>

  <ul class="list-group">
    @for( (url, jobs) <- results) {
    <div class="list-group-item">
      Job Execution URL: <a href=@url>@url</a>
      <div class="list-group well-lg">
        @for(result <- jobs) { <a class="list-group-item list-group-item-@result.severity.getBootstrapColor()"
          href="@routes.Application.search()?jobid=@result.jobId">
          <p class="list-group-item-heading">
          <h4 class="list-group-item-heading">[@result.username][@result.jobType.getName()] @result.jobId</h4>@result.jobName
          </p>
          <p>
            @for(heuristicResult <- result.heuristicResults) { <span
              class="label label-@heuristicResult.severity.getBootstrapColor()">@heuristicResult.analysisName</span> }
          </p>
        </a> }
      </div>
    </div>
    }
  </ul>
</div>



