@()(results: Html)

@main("Dr. Elephant - Search", "search") {
    @searchpanel() { Looking for a specific job? } {
        <form role="form" method="get" action="@routes.Application.queryJob()">
            <div class="form-group">
                <label for="jobId">Job ID</label>
                <input type="text" class="form-control" id="jobId" name="jobid" placeholder="Job ID">
            </div>
            <button type="submit" class="btn btn-default">Get Result</button>
        </form>
    }
    @searchpanel() { Looking for your own jobs? } {
        <form role="form" method="get" action="@routes.Application.queryJob()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
            <button type="submit" class="btn btn-default">Get Result</button>
        </form>
    }
    @searchpanel() { Looking for severity levels? } {
        <form role="form" method="get" action="@routes.Application.queryJob()">
            <div class="form-group">
                <label for="severity">Severity higher or equal</label>
                <select class="form-control" id="severity" name="severity">
                    @for(severity <- com.linkedin.drelephant.analysis.Severity.values()) {
                        <option value="@severity.getValue()">@severity.getText()</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-default">Get Result</button>
        </form>
    }
    @results
}
