@(result: model.JobResult)

<div class="panel panel-default">
    @if(result != null) {
    <div class="panel-heading">
        <p class="panel-title">
            <h4>[@result.username] [@result.jobType.getText()] @result.job_id</h4>
            <div>@result.jobName</div>
            <div>
              <table class="list-group-item-text table-striped table-condensed">
              <tbody>
                <tr>
                <td>Jobtracker:</td>
                <td><a href="@result.url">@result.url</a></td>
                </tr>
                @if(result.jobExecUrl != null){
                <tr>
                <td>Job execution:</td>
                <td><a href="@result.jobExecUrl">@result.jobExecUrl</a></td>
                </tr>
                }
                @if(result.jobUrl != null){
                <tr>
                <td>Job definition:</td>
                <td><a href="@result.jobUrl">@result.jobUrl</a></td>
                </tr>
                }
                @if(result.flowExecUrl != null){
                <tr>
                <td>Flow execution:</td>
                <td><a href="@result.flowExecUrl">@result.flowExecUrl</a></td>
                </tr>
                }
                @if(result.flowUrl != null){
                <tr>
                <td>Flow definition:</td>
                <td><a href="@result.flowUrl">@result.flowUrl</a></td>
                </tr>
                    }
              </tbody>
              </table>
              @if(result.flowExecUrl != null){
                <div><a href="/flowrelated?flowexec=@helper.urlEncode(result.flowExecUrl)">Other jobs from this flow</a></div>
                }
            @if(result.jobUrl != null){
                <div><a href="/alljobexecs?job=@helper.urlEncode(result.jobUrl)">Other executions of this job</a></div>
            }
            </div>

            <div>&nbsp;</div>
            <div>
                @for(heuristicResult <- result.heuristicResults) {
                <a href="#@heuristicResult.analysisName.replace(" ", "")" class="label label-@heuristicResult.severity.getBootstrapColor()">@heuristicResult.analysisName</a>
                }
            </div>
        </p>
    </div>
    <div class="list-group">
        @for(heuristicResult <- result.heuristicResults) {
        <a name="@heuristicResult.analysisName.replace(" ", "")" class="list-group-item list-group-item-@heuristicResult.severity.getBootstrapColor()">
            <h4 class="list-group-item-heading">@heuristicResult.analysisName</h4>
                @defining(heuristicResult.getDataArray()) { data =>
                <table class="list-group-item-text table table-condensed left-table">
                    <thead><tr>
                        <th colspan="@heuristicResult.dataColumns">
                            Severity: @heuristicResult.severity.getText()
                            @if(heuristicResult.severity.getValue() > 1){ <a href="@routes.Application.help()?topic=@helper.urlEncode(heuristicResult.analysisName)">[Explain]</a> }
                        </th>
                    </tr></thead>
                    <tbody>
                    @for(line <- data) {
                    <tr>
                        @for(cell <- line) {
                        <td>@cell</td>
                        }
                    </tr>
                    }
                    </tbody>
                </table>
                }
        </a>
        }
    </div>
    } else {
    <div class="panel-heading">
        <p class="panel-title">Results</p>
    </div>
    <div class="list-group">
        <a class="list-group-item">
            <h4 class="list-group-item-heading">Job not found</h4>
        </a>
    </div>
    }
</div>
